<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <div class="container">

    <h1><%= pageTitle %></h1>
    
    <% const dataTypeToInputType = {'int': 'number'}; %>
      <form action="/update" method="POST">
        <% dbDataHeaders.slice(1).forEach(header => { %>
          <% const inputType = dataTypeToInputType[header[1]]; %>
          <label for="<%= Object.values(header)[0] %>">Add <%= Object.values(header)[0] %>:</label>
          <input type= "<%= inputType || 'text' %>" name="<%= Object.values(header)[0]; %>">
        <% }); %>

        <label for="<%= dbDataHeaders[0].Field; %>"> Row id:</label>
         <input type="number" name="<%= dbDataHeaders[0].Field; %>">
        <button type="submit">Submit</button>
      </form>
      
    <%- include('partials/dataTable') %>

  </div>
</body>